*,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  min-width: 1440px;
}

.header {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 80px 0 80px;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: min-content min-content;
  color: #fff;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

  min-height: 800px;
}

.header__nav {
  grid-column: span 3;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__nav-items {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 133px;
  max-height: 100px;
}

.header__nav-items:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header__nav-link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.header__nav-link:hover {
  color: #e8c300;
}

.header__nav-logo {
  padding: 25px 35px 0 35px;
}

.header__job-time {
  grid-row-start: 2;
  max-width: 300px;
  max-height: 100px;
}

.header__job-time-content {
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  left: -40px;
  top: 350px;
}

.header__hero {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding-top: 150px;
}

.header__hero-sub-title {
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.header__hero-title {
  font-family: inherit;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.rectangle {
  width: 60px;
  border-radius: 50px;
  border: 2px solid #e8c300;
}

.header__hero-buttons {
  display: flex;
  gap: 40px;
}

.button {
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  transition: 0.5s;
  min-width: 200px;
  min-height: 60px;
  border: 1px solid transparent;
}

.button-fill {
  border: 0;
  background-color: #e8c300;
}

.button-fill:hover {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  color: #e8c300;
}

.button-transparent {
  border: 1px solid #fff;
  background-color: transparent;
}

.button-transparent:hover {
  border-color: transparent;
  background-color: #e8c300;
}

.header__down-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.out-elipse {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  transition: 0.5s;
}

.out-elipse:hover {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
}

.in-elipse {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.header__social-list-links {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

.in-elipse-icon {
  max-width: 40px;
  max-height: 40px;
}

.about-section {
  padding: 100px 0 0 0;
  width: 100%;
}

.about-section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 80px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  max-width: 600px;
}

.title {
  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
  text-transform: uppercase;
}

.sub-title {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 155%;
}

.accent-sub-title {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about-section__image-wrapper {
  position: relative;
  min-width: 600px;
  max-height: 475px;
}

.about-section__image {
  max-width: 475px;
  min-height: 475px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

.square-transparent {
  position: absolute;
  top: 110px;
  left: 350px;
  border-radius: 5px;
  border: 20px solid #e8c300;
  width: 210px;
  height: 210px;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
}

.menu-section {
  padding-top: 190px;
}

.menu-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menu-section__title-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-section__title {
  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
  text-transform: uppercase;
}

.menu-section__sub-title {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 155%;
  max-width: 565px;
  transition: 0.5s;
}

.sub-menu__button {
  min-width: 120px;
  min-height: 50px;
  background-color: transparent;
  border: 0;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
}

.sub-menu__button:hover {
  background-color: rgba(232, 195, 0, 0.5);
  border-color: transparent;
}

.no-border {
  border: 0;
}

.main-menu__list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 90px;
}

.main-menu__item {
  min-width: 360px;
  min-height: 70px;
  list-style: none;
}

.main-menu__link {
  text-decoration: none;
  color: #000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  cursor: pointer;
}

.main-menu__link:hover {
  text-decoration: underline;
}

.main-menu__accent-text-content {
  color: rgba(51, 51, 51, 0.5);
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.gallery-section {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.gallery-section__image {
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.footer {
  padding: 100px 80px 245px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 50px;
}

.footer__contact-form {
  display: grid;
  grid-template-columns: repeat(3, min-content);

  gap: 10px;
  max-width: 1280px;
}

.footer__contact-input {
  min-width: 400px;
  max-width: 400px;
  min-height: 40px;
  padding: 10px;
  border-radius: 5px;
  background: #e5e5e5;
  border: 0;

  color: rgba(51, 51, 51, 0.5);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.full-width-input {
  grid-column: span 3;
  max-width: 1260px;
  min-height: 100px;
  resize: none;
  vertical-align: top;
}

.footer__contact-addres-button__wrapper {
  grid-column: span 3;
  display: flex;
  justify-content: space-between;
}

.footer__contact-addres {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  color: rgba(51, 51, 51, 0.5);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  min-width: 640px;
}

.button-contact-form {
  color: #fff;
  font-family: Open Sans;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border: 2px solid transparent;
  min-width: 640px;
}

.button-contact-form:hover {
  background-color: transparent;
  border-color: #e8c300;
  color: #000;
}
