*,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.header {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 80px 0 80px;
  min-width: 1440px;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: min-content min-content;
  color: #fff;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

  min-height: 800px;
}

.header__nav {
  grid-column: span 3;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__nav-items {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 133px;
  max-height: 100px;
}

.header__nav-items:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header__nav-link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.header__nav-link:hover {
  color: #e8c300;
}

.header__nav-logo {
  padding: 25px 35px 0 35px;
}

.header__job-time {
  grid-row-start: 2;
  max-width: 300px;
  max-height: 100px;
}

.header__job-time-content {
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  left: -40px;
  top: 350px;
}

.header__hero {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding-top: 150px;
}

.header__hero-sub-title {
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.header__hero-title {
  font-family: inherit;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.rectangle {
  width: 60px;
  border-radius: 50px;
  border: 2px solid #e8c300;
}

.header__hero-buttons {
  display: flex;
  gap: 40px;
}

.button {
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  transition: 0.5s;
  min-width: 200px;
  min-height: 60px;
  border: 1px solid transparent;
}

.button-fill {
  border: 0;
  background-color: #e8c300;
}

.button-fill:hover {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  color: #e8c300;
}

.button-transparent {
  border: 1px solid #fff;
  background-color: transparent;
}

.button-transparent:hover {
  border-color: transparent;
  background-color: #e8c300;
}

.header__down-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.out-elipse {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  transition: 0.5s;
}

.out-elipse:hover {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
}

.in-elipse {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.header__social-list-links {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

.in-elipse-icon {
  max-width: 40px;
  max-height: 40px;
}
